* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
STUDENTDATA{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
STUDENT{
    width: 300px;
    height: 200px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 213, 213);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
USN,NAME,COLLEGE,BRANCH,YEAR,EMAIL{
    margin-bottom: 5px;
    color: black;
    font-weight: 500;

}